@import "../../style/variables.less";
@import "../../style/mixins/index.less";

@tag-group-cls: ~"w-tag-group";

.@{tag-group-cls} {
  user-select: none;
}
.@{tag-group-cls}-children {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
}
